
//----------Fonts----------------//

@import url(http://fonts.googleapis.com/css?family=Gafata);

//----------Colors---------------//

@bg-color: #ffffff;
@color1: #2980b9; //blue
@color2: #27ae60; //light green
@color3: #FFFFFF; //whiteish
@color4: #3498db; //blue
@color5: rgba(255,255,255, 0.8);
@color6: #27ae60; //green

// We need to use more specific tags in genereal in the css, or consider more than one
// stylesheet, for example there was no way for me to use the background picture here not on the
//whole background and then do it somewhere else, maybe we can have a couple style sheets, or
//at least seperate style sheets to keep the very genereal tags in, aka Body, form, h1,h2..etc...

h1, h3, h4{
  color: white !important;
  font-family: 'Gafata', sans-serif !important;
  border-radius: 10px;
}

.item h3 {
  color: #333333 !important;
}

body{
  //background-size: cover;
  font-family: 'Gafata', sans-serif !important;
  //background-image: url('http://upload.wikimedia.org/wikipedia/commons/0/05/Items_at_the_Junk_Yard_%287026999459%29.jpg');
  background-color: #bdc3c7;
}

#clearNav{
  height: 45px;
}
fieldset{
  background-color: lightgrey;
  opacity: .95;
  font-family: 'Gafata', sans-serif !important;
}

legend{
  border: 2px #333333 solid;
  font-family: 'Gafata', sans-serif !important;
}

.item-list {
  display: inline-block;
}

#navPhoto {
  width: 45px;
  height: 45px;
  padding: 8px;
  background-size: cover;
}

.panel {
  text-align: center;
  background-color: #333333;
  margin-top: 10px !important;
  font-family: 'Gafata', sans-serif !important;
  border-radius: 15px;
}

.album{
  font-size: 12px;
  border: 1px dashed #252525;
  margin: 0px 25px 25px 0px;
  float: left;
  width: 200px;
}

.cover{
  background-size: cover;
  height: 400px;
}

.title{
  padding: 5px;
}

.taken{
  padding: 5px;
}

.photo{
  width: 150px;
  height: 150px;
  float: left;
  margin: 0px 25px 25px 0px;
  background-size: cover;
  border: 1px solid black;
}

.item-img {
  width: 150px;
  border-radius: 10px;
  //height: 100px;
}

.user-img {
  width: 200px;
  border-radius: 15px;
  border: 3px solid #008cba;
  //height: 100px;
}

.item-img-large {
  width: 300px;
  //height: 300px;
  border-radius: 15px;
}

.item-img-small {
  width: 100px;
  //height: 300px;
  border-radius: 15px;
  margin: 5px;
}

table{
  width: 100% !important;
}

.item {
  display: inline-block;
  margin-left: 35px;
}

.item-list {
  margin: 20px;
}

//---------------------------------------//
//-------------HOMEPAGE------------------//
//---------------------------------------//
#tabWrap{
  background-color: #fff;
  opacity: .9;
  border-radius: 10px;
  border: 12px solid #2980b9;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 75px;
  margin-top: 75px;
}


h2{
  font-family: 'Gafata', sans-serif !important;
  margin-top: 20px;
  color: #000;
  font-size: 55px;
  font-weight: bold;
}

#tabWrap p{
  font-family: 'Gafata', sans-serif !important;
  color: white;
}

#tabWrapTitle{
  font-family: 'Gafata', sans-serif !important;
  text-align: center;
  color: #2980b9;
  font-size: 50px;
  font-weight: bold;
}

#spacer{
  height: 200px;
}

#headerWrapper{
  height: 125px;
  background-color: @color5;
  text-align: center;
  padding-top: 3px;
  border-bottom: 11px solid #2980b9;
}

#homeHead {
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 76px;
  font-weight: bold;
  text-shadow: 4px 4px #000;
}

#homeHeadWrap{
  text-align: center;
  margin: 30px;
}

#homePicture{
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/0/05/Items_at_the_Junk_Yard_%287026999459%29.jpg');
  background-size: cover;
}

#restOfHomePage{
  background-color: #bdc3c7;
  border-top: 11px solid #2980b9;
  color: #34495e;
}

#restOfHomePage h6{
  margin-top: 10px;
  color: #34495e;
}

//---------------------------------------------//
//---------------CREATE ITEM-------------------//
//---------------------------------------------//
#smallSpacer{
  height: 50px;
}
#createItemForm{
  width: 400px;
  margin: auto;
}

#newItemTitle{
  text-align: center;
}

/*
#createItemButton{
  background-color: lighten(@color2, 20%);
  border-radius: 15px;
  border: 2px solid @color1;
  color: @color3;
  box-shadow: 0 8px 8px -6px black;
}
*/

#createItemButton:hover {
  box-shadow: 0 8px 8px -6px white;
}

#createItemForm{
  background-color: #ecf0f1;
  padding: 30px;
  border: 7px solid #3498db;
  border-radius: 20px;
  text-align: center;
  //box-shadow: inset 0 0 100px 10px lighten(@color4, 20%);
  //box-shadow: 0 8px 8px -6px black;

}

#createItemTextAreaWrapper{
  text-align: center;
}

#createItemTextAreaWrapper textarea{
  width: 400px;
  height: 200px;
  border: 7px solid #3498db;
  border-radius: 20px;
  //background-color: lighten(@color2, 50%);
  color: black;
  box-shadow: inset 0 0 100px 10px lighten(@color2, 75%);
  //box-shadow: 0 8px 8px -6px black;
}

#createItemTextAreaWrapper h3{
  color: @color1;
  font-weight: bold;
}

//----- Item Page ----

#clearFilter {
  margin-top: 15px;
}
