@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic);

@bg-color: #ffffff;
@color1: #DC3D24;
@color2: #232B2B;
@color3: #FFFFFF;
@color4: #E3AE57;
* {
  font-family: 'Cuprum', sans-serif !important;
}
h1, h4{
  color: white !important;
}

body{
  background-color: @bg-color;
  background-size: cover;
  font-family: 'Cuprum', sans-serif;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/0/05/Items_at_the_Junk_Yard_%287026999459%29.jpg');
}

fieldset{
  background-color: lightgrey;
  opacity: .95;
}

legend{
  border: 2px #333333 solid;
}

.panel {
  text-align: center;
  background-color: #333333;
}

.album{
  font-size: 12px;
  border: 1px dashed #252525;
  margin: 0px 25px 25px 0px;
  float: left;
  width: 200px;
}

.cover{
  background-size: cover;
  height: 400px;
}

.title{
  padding: 5px;
}

.taken{
  padding: 5px;
}

.photo{
  width: 150px;
  height: 150px;
  float: left;
  margin: 0px 25px 25px 0px;
  background-size: cover;
  border: 1px solid black;
}

.item-img {
  width: 150px;
  border-radius: 10px;
  //height: 100px;
}

.user-img {
  width: 200px;
  border-radius: 15px;
  border: 3px solid #008cba;
  //height: 100px;
}

.item-img-large {
  width: 300px;
  //height: 300px;
  border-radius: 15px;
}

.item-img-small {
  width: 100px;
  //height: 300px;
  border-radius: 15px;
  margin: 5px;
}

table{
  width: 100% !important;
}

.item {
  display: inline-block;
  margin-left: 35px;
}

.item-list {
  margin: 20px;
}

//---------------------------------------//
//-------------HOMEPAGE------------------//
//---------------------------------------//
#tabWrap{
  background-color: @color4;
  opacity: .9;
  border-radius: 10px;
  border: 5px solid darken(@color4, 30%);
  padding: 10px;
  width: 75%;
  margin: auto;
}


h2{
  margin-top: 20px;
  color: @color1;
  font-weight: bold;
  font-size: 55px;
  text-shadow: 2px 2px black;
}

#tabWrap p{
  color: white;
}

#tabWrapTitle{
  text-align: center;
  color: @color2;
  font-size: 50px;
}

#spacer{
  height: 100px;
}


//---------------------------------------------//
//---------------CREATE ITEM-------------------//
//---------------------------------------------//
#smallSpacer{
  height: 50px;
}
#createItemForm{
  width: 400px;
  margin: auto;
}

#newItemTitle{
  text-align: center;
}

#createItemButton{
  background-color: lighten(@color2, 20%);
  border-radius: 15px;
  border: 2px solid @color1;
  color: @color3;
}

#createItemForm{
  background-color: @color4;
  padding: 30px;
  border: 3px solid darken(@color4, 20%);
  border-radius: 20px;
  text-align: center;
}

#createItemTextAreaWrapper{
  text-align: center;
}

#createItemTextAreaWrapper textarea{
  width: 400px;
  height: 200px;
  border: 3px solid darken(@color4, 20%);
  border-radius: 20px;
  background-color: lighten(@color2, 50%);
  color: black;
}

#createItemTextAreaWrapper h3{
  color: @color1;
  font-weight: bold;
}


