extends ../shared/template

block content
  .row
    .small-6.columns
      form(action='/register', method='post', enctype='multipart/form-data')
        fieldset
          legend Register
          .row
            .small-12.columns
              label User Name
              input(name='userName', type='text', autofocus=true, required)
            .small-12.columns
              label Email
              input(name='email', type='email', required)
          .row
            .small-12.columns
              label Password
              input(name='password', type='password', required)
          .row
            .small-12.columns
              label Add Photo
              input(name='userPhoto', type='file', required)
          .row
            .small-12.columns
              button.small.radius Register
    .small-6.columns
      form(action='/login', method='post')
        fieldset
          legend Login
          .row
            .small-12.columns
              label Email
              input(name='email', type='text', required)
          .row
            .small-12.columns
              label Password
              input(name='password', type='password', required)
          .row
            .small-12.columns
              button.small.radius.alert Login

