extends ../shared/template

block content
  .row
    .small-12.columns
      div.panel
        h1= user.userName
        h4= user.email
        if !gravatar
          img(src= user.userPhoto).user-img
        else if gravatar
          img(src= gravatar).user-img

  .row
    .small-6.columns
      h3.panel Items List:
      table
        thead
          th Item
          th Photo
          th Auction
          th Delete
        tbody
          each item in items
            if item.available == false
              tr
                td: a(href='/items/' + item._id)= item.name
                td: img(src= item.photo).user-image
                td  
                  form(action='/items/toggle/' + item._id, method='post')
                    input(type='hidden', name='_method', value='post')
                    button.small.radius Add To Auction
                td
                  form(action='/items/' + item._id, method='post')
                    input(type='hidden', name='_method', value='delete')
                    button.alert.small.radius Delete
    .small-6.columns
      h3.panel Items for auction:
      table
        thead
          th Item
          th Photo
          th Remove
        tbody
          each item in items
            if item.available == true
              tr
                td: a(href='/items/' + item._id)= item.name
                td: img(src= item.photo).item-img
                td 
                  if item.bids.length === 0
                    form(action='/items/toggle/' + item._id, method='post')
                      input(type='hidden', name='_method', value='post')
                      button.small.radius Remove From Auction
                  else
                    h3.num-bids Current bids: #{item.bids.length}
  //form(action='/items/' + item._id, method='post')
    //input(type='hidden', name='_method', value='delete')
    //button.alert.small.radius Delete
  .row
    .small-12.columns
      div#myModal.createItemForm.reveal-modal.tiny(data-reveal)
        .row
          .small-12.columns
            form(action='/items', method='post', enctype='multipart/form-data')
              label Name
                input(name='name', type='text', autofocus=true, required)
              label Tags
              select(name='tag1')
                option(value='General') General
                option(value='Business') Business
                option(value='Furniture') Furniture
                option(value='Household') Household
                option(value='Tools') Tools
                option(value='Sporting') Sporting
                option(value='Appliances') Appliances
                option(value='Clothing') Clothing
                option(value='Gaming') Gaming
                option(value='Music') Music
                option(value='Entertainment') Entertainment
                option(value='Garden') Garden
                option(value='Electronics') Electronics
                option(value='Automobile') Automobile
                option(value='Materials') Materials
              select(name='tag2')
                option(value='General') General
                option(value='Business') Business
                option(value='Furniture') Furniture
                option(value='Household') Household
                option(value='Tools') Tools
                option(value='Sporting') Sporting
                option(value='Appliances') Appliances
                option(value='Clothing') Clothing
                option(value='Gaming') Gaming
                option(value='Music') Music
                option(value='Entertainment') Entertainment
                option(value='Garden') Garden
                option(value='Electronics') Electronics
                option(value='Automobile') Automobile
                option(value='Materials') Materials
              select(name='tag3')
                option(value='General') General
                option(value='Business') Business
                option(value='Furniture') Furniture
                option(value='Household') Household
                option(value='Tools') Tools
                option(value='Sporting') Sporting
                option(value='Appliances') Appliances
                option(value='Clothing') Clothing
                option(value='Gaming') Gaming
                option(value='Music') Music
                option(value='Entertainment') Entertainment
                option(value='Garden') Garden
                option(value='Electronics') Electronics
                option(value='Automobile') Automobile
                option(value='Materials') Materials

              label Photo
                input(name='photo', type='file', required)
              label description
                textarea(name='description', cols='300', rows='10', placeholder='Tell us about your item!', required)
                button#createItemButton.close-reveal-model Create
        a.close-reveal-modal &#215;
