extends ../shared/template

block content
  h1= user.name
  h4= user.email
  img(src= user.photo).user-img

  //form(action='/items/' + item._id, method='post')
    //input(type='hidden', name='_method', value='delete')
    //button.alert.small.radius Delete

