extends ../shared/template

block content
  h1= user.userName
  h4= user.email
  img(src= user.userPhoto).user-img

  //form(action='/items/' + item._id, method='post')
    //input(type='hidden', name='_method', value='delete')
    //button.alert.small.radius Delete

