extends ../shared/template

block content
  h1 Individual item info will display here

  //form(action='/items/' + item._id, method='post')
    //input(type='hidden', name='_method', value='delete')
    //button.alert.small.radius Delete

