doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .fixed
      nav.top-bar
        ul.title-area
          li.name
            h1: a(href="/") NashBA
          li.toggle-topbar.menu-icon
            a(href="#") Menu

        section.top-bar-section
          ul.left
          ul.right
            li: a(href="/") Home
            li.divider
            if user
              li
                #navPhoto(style='background-image:url("' +user.userPhoto +'")')
              li.has-form.has-dropdown.not-click
                a(href='#')= user.userName ? user.userName : user.email
                ul.dropdown
                  li: a(href="/items") Items
                  li: a(href="/users/show") Profile
                  li: a(href="#" data-reveal-id="myModal") Add Item
                  li.has-form
                    form(action='/logout', method='post')
                      button#logout.tiny.radius.alert Logout
              li.divider
              li: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    .row
      .small-12.columns
        div#myModal.createItemForm.reveal-modal.tiny(data-reveal)
          .row
            .small-12.columns
              form(action='/items', method='post', enctype='multipart/form-data')
                label.left Name
                input(name='name', type='text', autofocus=true, required)
                .row
                  .small-4.columns
                    label.left Tags
                    select(name='tag1')
                      option(value='General') General
                      option(value='Business') Business
                      option(value='Furniture') Furniture
                      option(value='Household') Household
                      option(value='Tools') Tools
                      option(value='Sporting') Sporting
                      option(value='Appliances') Appliances
                      option(value='Clothing') Clothing
                      option(value='Gaming') Gaming
                      option(value='Music') Music
                      option(value='Entertainment') Entertainment
                      option(value='Garden') Garden
                      option(value='Electronics') Electronics
                      option(value='Automobile') Automobile
                      option(value='Materials') Materials
                  .small-4.columns
                    label.left &nbsp;
                    select(name='tag2')
                      option(value='General') General
                      option(value='Business') Business
                      option(value='Furniture') Furniture
                      option(value='Household') Household
                      option(value='Tools') Tools
                      option(value='Sporting') Sporting
                      option(value='Appliances') Appliances
                      option(value='Clothing') Clothing
                      option(value='Gaming') Gaming
                      option(value='Music') Music
                      option(value='Entertainment') Entertainment
                      option(value='Garden') Garden
                      option(value='Electronics') Electronics
                      option(value='Automobile') Automobile
                      option(value='Materials') Materials
                  .small-4.columns
                    label.left &nbsp;
                    select(name='tag3')
                      option(value='General') General
                      option(value='Business') Business
                      option(value='Furniture') Furniture
                      option(value='Household') Household
                      option(value='Tools') Tools
                      option(value='Sporting') Sporting
                      option(value='Appliances') Appliances
                      option(value='Clothing') Clothing
                      option(value='Gaming') Gaming
                      option(value='Music') Music
                      option(value='Entertainment') Entertainment
                      option(value='Garden') Garden
                      option(value='Electronics') Electronics
                      option(value='Automobile') Automobile
                      option(value='Materials') Materials
                  .row
                    .small-12.columns
                      label.left Photo
                      input(name='photo', type='file', required)
                  .row
                    .small-12.columns
                      label.left Description
                      textarea(name='description', cols='300', rows='5', placeholder='Tell us about your item!', required)
                      button#createItemButton.radius.close-reveal-model Create
          a.close-reveal-modal &#215;
    .row
      .small-12.columns
        #clearNav
    block content


    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/foundation.topbar.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

