extends ../shared/template

block content

  #homePicture
    #headerWrapper
     h2 The Nashville Barter Association
    .row
      .small-12.columns
        #homeHeadWrap
          //h2#homeHead Want To Trade?

    .row
      .small-6.small-centerd.columns#tabWrap
        #tabWrapTitle Want to Trade? Get Started Now!
        dl(class="tabs vertical", data-tab)
          dd(class="active"): a(href="#panel1a") SIGNUP
          dd: a(href="#panel2a") LOGIN
          dd: a(href="#panel4a") START BIDDING
        div(class="tabs-content vertical")
          div(class="content active", id="panel1a")
            form(action='/register', method='post', enctype='multipart/form-data')
              fieldset
                legend Register
                .row
                  .small-12.columns
                    label User Name
                    input(name='userName', type='text', autofocus=true, required)
                  .small-12.columns
                    label Email
                    input(name='email', type='email', required)
                .row
                  .small-12.columns
                    label Password
                    input(name='password', type='password', required)
                .row
                  .small-12.columns
                    label Add Photo
                    input(name='userPhoto', type='file', required)
                .row
                  .small-12.columns
                    button.small.radius Register
          div(class="content", id="panel2a")
            form#loginTabForm(action='/login', method='post')
              fieldset
                legend Login
                .row
                  .small-12.columns
                    label Email
                    input(name='email', type='text', required)
                .row
                  .small-12.columns
                    label Password
                    input(name='password', type='password', required)
                .row
                  .small-12.columns
                    button.small.radius.alert Login
          div(class="content", id="panel4a")
            a(href='/items')
              #paddleDiv(style='background-image:url("/img/BG/paddles.jpg")')

  #restOfHomePage
    .row
      .small-6.columns
        #smallSpacer
        h6 © 2014 Jay Knight Industries
        h6 340 Plus Park Blvd, Nashville, TN
        a(href='https://www.google.com/maps/place/@36.1321349,-86.7231738,17z/data=!4m2!3m1!1s0x0:0x5354c5cee33b3bbe') Visit Us
        div &nbsp;
        a(href='http://www.google.com') Find a Solution to your problem here
        #smallSpacer
      .small-6.columns
        #smallSpacer
        h6 Email Us <a href="mailto:jKnightInd.com">jKnightInd@gmail.com</a>
        a(href='/items') Items for Bid
        div &nbsp;
        a(href='/logout') Logout
        div &nbsp;
        a(href='http://www.stackoverflow.com') We find Our solutions here
        #smallSpacer
