extends ../shared/template

block content

  #homePicture
    #headerWrapper
     h2 Welcome to Nashville Barter Association!
    .row
      .small-12.columns
        #homeHeadWrap
          h2#homeHead Want To Trade?

    .row
      .small-8.columns#tabWrap
        #tabWrapTitle HOW TO GET STARTED
        dl(class="tabs vertical", data-tab)
          dd(class="active"): a(href="#panel1a") SIGNUP
          dd: a(href="#panel2a") LOGIN
          dd: a(href="#panel3a") ADD ITEMS
          dd: a(href="#panel4a") START BIDDING
        div(class="tabs-content vertical")
          div(class="content active", id="panel1a")
            p.tabP Simply register your email and password using the link in the menu bar
          div(class="content", id="panel2a")
            p.tabP Login after recieving your confirmation e-mail
          div(class="content", id="panel3a")
            p.tabP Add items that you want to use to trade for other items
          div(class="content", id="panel4a")
            p.tabP See what items are available and start your bidding!!
  #restOfHomePage
    .row
      .small-6.columns
        #smallSpacer
        h6 copyright stuff
        h6 contact info
        h6 whatever else we want to put down here
        a(href='http://www.google.com') Find a Solution to your problem here
      .small-6.columns
        #smallSpacer
        h6 other footer things
        h6 stuff
        h6 too early
        a(href='http://www.stackoverflow.com') We find Our solutions here
    




