extends ../shared/template

block content
  #clearFilter
  .row
    .small-12.columns
      .row
        .small-3.columns
          label Filter By Category
          select#selectTag(value= 'tags')
            option General
            option Business
            option Household
            option Tools
            option Sporting
            option Furniture
            option Appliances
            option Clothing
            option Gaming
            option Music
            option Entertainment
            option Garden
            option Electronics
            option Automobile
            option Materials
        .small-3.columns
          label &nbsp;
          button#tagButton.tiny.radius Filter
        .small-4.columns
          if buttons == false
            label &nbsp;
            a.button.tiny.radius.left(href='/items') Back To Items
        .small-2.columns
          if buttons == true
            .row.collapse
              .small-6.columns
                label Per Page
                input#limit(type='text' value= globalLimit)
              .small-6.columns
                label &nbsp;
                a#limitButton.button.postfix.tiny.radius Show
  if buttons == true
    .row
      .small-3.columns
        ul.button-group.round
          li: button#prev.tiny.radius Previous
          li: button#next.tiny.radius &nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;
      .small-9.columns
  if buttons == false
    .row
      #tagTitle
        h3 Item Category: #{tagTitle}
  .row
    .small-12.columns
      ul#items-display.small-block-grid-5
        each item in items
          li.itemIndexWrap
            .item-img-small(style='background-image:url("' + item.photo + '")')
            a(href='/items/' + item._id)= item.name

