extends ../shared/template

block content
  #newItemTitle
    h2 Add An Item to Your Collection
  .row
    .small-4.small-centered.columns
      #createItemFormWrapper
        form#createItemForm(action='/items', method='post', enctype='multipart/form-data')
          label Name
            input(name='name', type='text', autofocus=true, required)
          label Tags
            input(name='tags', type='text', placeholder='sword, katana, awesome, metal', required)
          label Photo
            input(name='photo', type='file', required)
          button#createItemButton Create
  #smallSpacer
  .row
    .small-4.small-centered.columns
      #createItemTextAreaWrapper
        h3 ITEM DESCRIPTION
        textarea(name='description', cols='500', rows='15', form='createItemForm', placeholder='Tell us about your item!', required)
