extends ../shared/template

block content
  h1= title
  h3= item.description
  h3= item.tags
  img(src= item.photo).item-img

  form(action='/items/' + item._id, method='post')
    input(type='hidden', name='_method', value='delete', required)
    button.alert.small.radius Delete

